.App {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: calc(2.6vw + 1rem);
  font-weight: 500;
}

h2 {
  font-size: calc(1.6vw +  1rem);
  font-weight: 500;
}

h3 {
  font-size: calc(1vw +  1rem);
  font-weight: 500;
  line-height: calc(2vw + 1rem);
}

h4 {

}

h5 {
  font-size: calc(.3vw +  1rem);
  font-weight: 300;
  line-height: calc(1.2vw + 1rem);
}

h6 {
  font-size: calc(0vw +  1rem);
  font-weight: 300;
  line-height: calc(1.2vw + 1rem);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 5.4vw;
  background-color: white;
  -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  -moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
}

header b {
  color: #5BEAD1;
  font-size: calc(1vw + 1rem);
  font-weight: 500;
  padding-left: calc(3.6vw + 1rem);
}

header > div {
  padding-right: calc(3.5vw + 1rem);
}

header div a {
  color: black;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  font-weight: 300;
  font-size: calc(0vw + 1rem);
}

header .react-reveal {
  display: inline;
}

header div a:hover {
  color: #EA5BD2;
}

.navbar-selected {
  border-bottom: 1px solid black;
}

.navbar-link {
  border-bottom: none;
}

.statement {
  background-image: url("images/Image4.jpg");
  background-color: rgba(234, 91, 210, 0.45);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.statement h3 {
  color: white;
  padding-top: 50px;
}

.about-us {
  padding: calc(2vw + 1rem) calc(10vw + 1rem);
}

.about-us h2 {
  text-align: center;
  padding-top: calc(9vw + 1rem);
  padding-bottom: calc(6vw + 1rem);
  padding-left: calc(3vw + 1rem);
  padding-right: calc(3vw + 1rem);
}

.about-us-content {
  display: flex;
  align-items: center;
  padding-bottom: calc(6vw + 1rem);
}

.about-us .img-holder {
  width: 70%;
  position: relative;
  z-index: -1;
}
/* 
.about-us .img-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(234, 91, 210, 0.1);
  height: 100%;
} */

.about-us img {
  width: 100%;
}

.about-us .overlap-text-box {
  width: 40%;
  height: 100%;
  padding: calc(3.2vw + 1rem);
  background-color: #5BEAD1;
  color: white;
  margin-left: calc((3.6vw + 1rem)*(-3));
}

.about-us .overlap-text-box h3 {
  padding-bottom: calc(0.6vw + 1rem);;
}

.what-we-do {
  background-color: #EA5BD2;
  color: white;
  padding: 0px calc(10vw + 1rem);
}

.what-we-do > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-we-do-text {
  flex: 1;
  margin-right: calc(10vw + 1rem);
  padding-top: calc(7.6vw + 1rem);
  padding-bottom: calc(7.6vw + 1rem);
} 

.iframe-container {
  overflow: hidden;
  /* // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
  padding-top: 56.25%;
  position: relative;
  flex: 1 0;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.what-we-do h1 {
  padding-bottom: calc(1vw + 1rem);
}

.iframe-outer {
  height: 100%;
  flex: 2;
}

.pricing {
  padding-bottom: calc(6vw + 1rem);
}

.pricing h2 {
  text-align: center;
  padding-top: calc(10vw + 1rem);
  padding-bottom: calc(4vw + 1rem);
}

.plans {
  display: flex;
  justify-content: center;
  padding: 0px calc(15vw + 1rem);
}

.thin-plan {
  flex: 1;
}

.thick-plan {
  flex: 1.2;
  -webkit-box-shadow: 0px 0px 3px 15px rgba(100, 100, 100, 0.49);
-moz-box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, 0.49);
box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.49);
  z-index: 8000;
}

.plan {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #5BEAD1;
}

.plan h6:nth-child(odd) {
  color: #EA5BD2;
  background-color: rgba(234, 91, 210, 0.1);
}

#basic h3:first-of-type {
  background-color: rgba(91, 234, 209, 0.2);
}
#basic-plus h3:first-of-type {
  background-color: rgba(91, 234, 209, 0.8);
}
#pro h3:first-of-type {
  background-color: rgba(91, 234, 209, 0.5);
}

.plans .plan .empty {
  color: transparent;
}

.plan h3 {
  padding: calc(0.8vw + 0rem) 0px;
}

.plan h6 {
  padding: calc(0.6vw + 0rem) 0px;
}

.plan-buttons {
  display: flex;
  justify-content: center;
  padding: 0px calc(15vw + 1rem);
}

.thin-plan-button {
  flex: 1;
  display: flex;
  justify-content: center;
}

.thick-plan-button {
  flex: 1.2;
  display: flex;
  justify-content: center;
}

.plan-buttons button {
  border: 2px solid black;
  padding: calc(1vw);
  margin-top: 1vw;
  transition: background-color 0.15s ease;
  transition: color 0.15s ease;
}

.plan-buttons button:hover {
  transition: background-color 0.15s ease;
  transition: color 0.15s ease;
  background-color: black;
  color: white;
}

.blog-section {
  background-image: url("images/Image5.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.blog-section h1 {
  margin-bottom: 4vw;;
}

.blog-section a {
  border: 2px solid #5BEAD1;
  color: #5BEAD1;
  font-size: 1.14em;
  font-weight: 500;
  padding: calc(1.3vw) calc(1.6vw);
  /* margin-top: 2vw; */
  transition: background-color 0.15s ease;
  transition: color 0.15s ease;
}

.blog-section a:hover {
  transition: background-color 0.15s ease;
  transition: color 0.15s ease;
  background-color: #5BEAD1;
  color: black;
}

.contact {
  display: flex;
  padding: calc(8vw + 1rem) calc(10vw + 1rem);
}

.contact-text {
  flex: 1;
}

.contact-form {
  flex: 1;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  background-color: #FAFAFA;
  outline: none;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.contact-form input {
  height: 2vw;
  padding: 0px 0.5vw;
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: white;
  border: 1px solid #979797;
}

.contact-form textarea {
  height: 4vw;
  padding: 0.5vw;
}

#form-name {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1vw;
}

#form-name div:first-of-type {
  flex: 1;
}

#form-name div:last-of-type {
  flex: 1;
  margin-left: 2vw;
}

#form-name div h6:last-of-type {
  font-size: 0.9em;
}

#email-field {
  padding-bottom: 1.2vw;
}


.contact-form button {
  border: 2px solid black;
  padding: calc(1.5vw);
  margin-top: 1.2vw;
  transition: background-color 0.15s ease;
  transition: color 0.15s ease;
}

.contact-form button:hover {
  transition: background-color 0.15s ease;
  transition: color 0.15s ease;
  background-color: black;
  color: white;
}

.contact-text h2 {
  padding-bottom: 2vw;
}

.contact i {
  padding-top: 1vw;
  padding-right: 1vw;
  font-size: 1.2em;
  color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EA5BD2;
  padding: calc(1vw + 1rem) calc(10vw + 1rem);
}

footer i {
  padding-left: 1vw;
  font-size: 1.2em;
  color: black;
}

/* ------------------------------ */
.blog {
  display: flex;
  flex-direction: column;
  padding: 10vw;
}

.blog > div {
  /* width: 100%; */
  display: flex;
  margin-bottom: 5vw;
}

.blog img {
  width: 40%;
  flex: 1;
}

.pic-on-left {
  margin-left: 5vw;
  margin-top: 2vw;
  flex: 1.2;
}

.pic-on-right {
  margin-right: 5vw;
  margin-top: 2vw;
  flex: 1.2;
}

.blog a {
  color: black;
  text-decoration: none;
  font-size: calc(1.8vw + 1rem);
  font-weight: 500;
  line-height: 4vw;
  /* margin-bottom: 4vw; */
}

.blog p {
  font-weight: 300;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
  line-height: 1.5vw;
}

.blog strong {
  font-weight: 400;
}

.button-selected {
  background-color: #5BEAD1;
}

.error {
  color: red;
}